<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JQuery</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
    <h2>JQuery</h2>

<p>JQuery is an open-sourced JavaScript library that simplifies creation and navigation of web applications. </p>

<button>Let's GO</button>

    <script src="Ritik.js"></script>
</body>
</html>
